<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.github.gentlewake" >

    <!-- To communicate with the Hue-Bridge we need access to the internet -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- necessary to connect to the Hue bridge -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- necessary to automatically sync alarms -->

    <!--<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17"/>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.PHHomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PreferencesActivity" android:label="@string/action_settings" />
        <activity
            android:name=".activities.MainApplicationActivity"
            android:label="@string/txt_selectbridges" >
        </activity>
        <activity
            android:name=".activities.PHPushlinkActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- this broadcastreceiver listens for all intents that should trigger the synchronization service ... -->
        <receiver android:name=".broadcastreceivers.SynchronizationReceiver" >

            <!-- ... such as when a new alarm is set ... -->
            <intent-filter >
                <action android:name="android.intent.action.ALARM_CHANGED" />
            </intent-filter>

            <!-- ... or when the wifi state changed -->
            <intent-filter >
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
            </intent-filter>

        </receiver>

        <!-- this service synchronizes the alarm to the bridge -->
        <service android:name=".services.AlarmSynchronizationService" android:label="@string/service_sync_alarm" />

    </application>

</manifest>
